@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 4%;
}

.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  margin-top: 34px;
  font-size: 1.25rem;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.page-title {
  font-size: 5rem;
  font-family: 'Philosopher',"serif";
  text-transform: uppercase;
  font-weight: normal;
}

.button {
  background-color: #0bd;
  color: white;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background-color: #0090aa;
}

#home {
  min-height: 100vh;
  background-image: url(./images/main-bg.jpg), radial-gradient(#c9ffbf, #ffafbd);
  background-blend-mode: luminosity;
}

#home .page-title {
  text-transform: none;
}

.big-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

#news {
  background-image: url(./images/news-bg.jpg);
  height: 270px;
  margin-bottom: 48px;
}

#news .page-title {
  text-align: center;
}

footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: white;
  font-size: 0.875rem;
}

article {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 60%;
}

article p {
  margin-bottom: 1rem;
}

article img {
  margin-bottom: 20px;
}

aside {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 22%;
}

aside p {
  padding: 12px 10px;
}

.ad {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.news-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.post-info {
  position: relative;
  padding: 4px;
  margin-bottom: 40px;
}

.post-date {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #0bd;
  color: white;
  font-size: 1.65rem;
  text-align: center;
  top: 0;
  padding-top: 10px;
}

.post-date span {
  font-size: 1rem;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  padding-top: 6px;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.post-title {
  font-size: 2rem;
  font-weight: normal;
}

.post-title, .post-cat {
  margin-left: 120px;
}

.sub-title {
  font-size: 1.3rem;
  padding: 0 8px 8px;
  border-bottom: solid 2px #0bd;
  font-weight: normal;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.sub-menu li {
  border-bottom: 1px solid #ddd;
}

.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}

.sub-menu a:hover {
  color: #0bd;
}
/*# sourceMappingURL=style.css.map */